body {
margin: 0% 15%;
}
.container{
    /* width: 980px; */
    height: 100px;
}
h1 {
    justify-content: center;
    color: white;
    position: absolute;
    margin-top: 5%;
    margin-left: 26%;
}
h3 {
    color: #2196f3;
}
.section1 {
margin-left: 10%;
font-size: 15px;
}
.para1{
    font-size: 12px;
    margin-left: 10%;
    margin-right: 5%;
    
}
.section2{
    text-align: right;
    margin-right: 5%;
    font-size: 15px;

}
.para2{
    
   text-align: right;
   margin-right: 5%;
   margin-left: 10%;
   font-size: 12px;
   padding-bottom: 5px;
}
.foo{
    text-align: center;
    background-color: #072136;
    padding: 3%;
    color: #fff;
}
